{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="original">
                <img src="{{ url_for('static', filename='sample_'+result+'.jpg') }}" width="100%">
            </div>
        </div>
        <div class="col-md-3">
            <div class="result">
                <img src="{{ url_for('static', filename='sample_'+result+'_predicted.jpg') }}" width="100%">
            </div>
        </div>
    </div>

{% endblock %}